html {
    body {
        main {
            form {
                width:                                                                          100%;
                input#date-input {
                    background:                                                                 none; 
                    font-size:                                                                  2rem; 
                    height:                                                                     2.5rem; 
                    text-align:                                                                 center; 
                    vertical-align:                                                             middle; 
                    border:                                                                     none; 
                    color:                                                                      hsl(190, 100%, 50%);
                    &:focus {
                        outline:                                                                none;
                    }
                }
                section {
                    width:                                                                      100%; 
                    align-items:                                                                flex-start; 
                    border:                                                                     1px solid hsla(190, 100%, 50%, 1);
                    border-radius:                                                              0.5rem;
                    padding:                                                                    1rem;
                    margin:                                                                     0.5rem auto;
                    h3 {
                        font-size:                                                              1.25rem; 
                        text-decoration:                                                        underline;
                        padding:                                                                0 0 1rem 0;
                    }
                    div.row {
                        display:                                                                inline-flex;
                        width:                                                                  100%;
                        flex-flow:                                                              row nowrap;
                        padding:                                                                0.25rem 0;
                        span.input {
                            display:                                                            inline-flex; 
                            flex-flow:                                                          column nowrap;
                            margin:                                                             0 1rem;
                            input, select {
                                width:                                                          5rem;
                                &.numeric {
                                    text-align:                                                 right;
                                }
                            }
                        }
                        span.timer {
                            align-self:                                                         center;
                            font-size:                                                          1.25rem;
                            cursor:                                                             pointer;
                        }
                    }
                }
            }
        }
    }
}
div#modal {
    .blink {
        animation: blink 3s 200ms linear infinite;
    }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}