section.finance {
    div.content {
        width: 100%;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-around;
        div.stat {
            position: relative; // Must be set to relative to allow info icon to be placed absolutely
            width: 15rem;
            height: 3rem;
            display: inline-flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-around;
            margin: 0.25rem;
            padding: 0.25rem;
            border-top-left-radius: 0.25rem 1rem;
            border-top-right-radius: 0.25rem 1rem;
            border-bottom-right-radius: 0.25rem 1rem;
            border-bottom-left-radius: 0.25rem 1rem;
            transition: all 750ms 50ms;
            background: black;
            border: 1px solid black;
            h3 {
                font-weight: 900;
                font-size: 0.75rem;
                color: hsl(190, 100%, 50%);
            }
            h4 {
                font-size: 1rem;
            }
            h5 {
                font-size: 0.5rem;
                color: white;
            }
            div.variant-row {
                display: flex;
                width: 70%;
                justify-content: space-between;
                button {
                    padding: 0.125rem;
                    margin: 0;
                    background: none;
                    color: white;
                    border: 1px solid hsl(190, 100%, 50%);
                    border-radius: 0.25rem;
                    cursor: pointer;
                    &:hover, &.active {
                        background: hsl(190, 100%, 50%);
                    }
                }
            }
            i {
                font-size: 0.375rem; 
                width: 0.875rem;
                height: 0.875rem;
                position: absolute;
                top: 0.25rem;
                right: 0.375rem;
                border: 1px solid hsla(0, 0%, 100%, 0.5);
                border-radius: 1rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: hsla(0, 0%, 100%, 0.5);
                cursor: pointer;
                &:hover {
                    background: white;
                    color: black;
                }
            }
            &.graphic {
                height: 10rem;	
            }
        }
        div.small {
            width: 10rem;
        }
        div.small h3 {
            font-size: 0.625rem;
        }
    }
    div.row {
        width: 100%;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .adi {
        color: hsl(100, 100%, 50%);
    }
    .ade {
        color: hsl(0, 100%, 60%);
    }
    .form {
        width: 5rem; 
        height: 5rem;
        box-sizing: border-box;
        display: inline-flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        margin: 1rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        border-radius: 1rem;
        &:hover {
            background: hsla(190, 100%, 50%, 0.6);
        }
        img {
            height: 3rem;
            width: 3rem;
        }
        figcaption {
            font-size: 0.75rem;
        }
    }

	
}