body {
	width: 100%;
	align-items: center;
	padding: 2rem 0;
}
main {
	box-sizing: border-box;
	width: 80%;
    max-width: 60rem;
    min-width: 25rem;
	background: white;
	color: black;
	font-family: 'Orbitron', sans-serif;
	display: inline-flex;
	flex-flow: column;
	align-items: center;
	padding: 2rem 1rem;
	border-radius: 1rem 0.25rem;
}
main h1 {
	width: 100%;
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
	color: hsl(190, 100%, 50%);
}
main h2.msg {
	font-size: 0.75rem;
	margin-bottom: 1.5rem;
}
main form {
	width: 60%;
	display: inline-flex;
	flex-flow: column;
	margin-bottom: 3rem;
}
main form label {
	font-size: 0.75rem;
	margin-bottom: 0.25rem;
}
main form select, main form input {
	font-size: 1rem;
	height: 1.5rem;
	margin-bottom: 0.5rem;
}
main form button {
	width: 6rem;
	height: 3rem;
	text-align: center;
	align-self: center;
	border: none;
	cursor: pointer;
}
main form button:hover {
	background: hsla(190, 100%, 50%, 0.8);
}
main ol li {
	list-style: decimal;
	padding: 0.5rem;
    text-transform: capitalize;
	a {
		color: hsl(190, 100%, 30%);
		&:visited {
			color: hsl(190, 100%, 30%);
		}
	}
}
textarea {
	height: 10rem;
}
table.log {
	box-sizing: border-box;
	width: 100%;
	color: black;
}
table.log th {
	box-sizing: border-box;
	height: 2rem;
	font-weight: bold;
	vertical-align: middle;

}
table.log tr:nth-child(even) {
	background: hsla(190, 100%, 50%, 0.2);
}
table.log td {
	box-sizing: border-box;
	font-size: 0.75rem;	
	height: 1.25rem;
	text-align: center;
	vertical-align: middle;
}
table.log tr {
	box-sizing: border-box;
}
table.log td.asset,
table.log td.cash {
	color: green;
}
table.log td.liability {
	color: red;
}

@media only screen and (max-width: 900px) {
    body {
        padding: 0;
    }
	main {
		width: 100%;
		max-width: none;
		background: black;
		color: white;
		ol {
			li {
				a {
					color: hsl(190, 100%, 50%);
					&:visited {
						color: hsl(190, 100%, 50%);
					}
				}
				i {
					cursor: pointer;
				}
			}
		}
	}
	main form label {
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}
	main form select, main form input {
		font-size: 1.25rem;
		height: 2rem;
		margin-bottom: 0.5rem;
	}
}
span.equipment-input {
	display: inline-flex;
    flex-flow: column nowrap;
    padding: 0.5rem;
    align-items: center;
    border: 3px solid hsl(190, 100%, 50%);
    border-radius: 1rem 0.25rem;
    margin: 0.5rem;
	&.checked {
		background: hsl(190, 100%, 50%);
		color: white;
		font-weight: 900;
	}
    //background: hsl(190, 100%, 50%);
}
div.workout-structure {
  	padding: 0.25rem 0.75rem;
    margin: 0.25rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.2rem 0.5rem;
    cursor: pointer;
    width: 80%;
	&:hover {
		background: white;
	}
	h3 {
		font-size: 1.125rem;
    	padding-bottom: 0.25rem
	}
	h4 {
		font-size: 0.875rem;
	}
}
svg path.muscle {
	fill: 			hsl(0, 0%, 80%);
	cursor: 		pointer;
	&.primary {
		fill: 		hsl(0, 100%, 50%);
	}
	&.secondary {
		fill: 		hsl(50, 100%, 50%);
	}
}
