section.goals div.content {
	width: 100%;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
section.goals div.content div.goal {
	width: 17.5rem;
	height: 5rem;
	display: inline-flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	margin: 0.25rem;
	padding: 0.5rem;
	border-top-left-radius: 0.75rem 3rem;
	border-top-right-radius: 0.75rem 3rem;
	border-bottom-left-radius: 0.75rem 3rem;
	border-bottom-right-radius: 0.75rem 3rem;
	background: black;
}
section.goals div.content div.goal h3 {
	font-size: 1.5rem;
	color: hsl(190, 100%, 50%);
}
section.goals div.content div.goal h4 {
	font-size: 1.25rem;
}
section.goals div.content div.goal h5 {
	font-size: 0.5rem;
}
section.goals div.content div.goal div.progress {
	height: 1rem;
	width: 80%;
	border: 1px solid white;
	border-radius: 0.5rem;
}
section.goals div.content div.goal div.fill {
	height: 100%;
	border: none;
	border-radius: 0.5rem;
	/*background: hsl(190, 100%, 50%);*/
}
section.goals div.content div.goal div.target-fill {
	height: 14px; 
	border-right: 1px dashed white; 
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	background: hsla(0, 0%, 100%, 0.5);
	position: relative; 
	bottom: 14px; 
	z-index: 10;
}