/*UNIVERSAL*/
* {
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
}

.unwrapable {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

html {
	min-height: 100vh;
	font-size: 16px;
	font-family: "Orbitron", sans-serif;
	color: white;
	background: -webkit-gradient(linear, left top, right bottom, from(black), to(white));
	background: linear-gradient(to bottom right, black, white);
	/*HEADER*/
}

html body {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

html header {
	width: 100%;
	height: 3rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: black;
	color: white;
	position: fixed;
	z-index: 15;
}

html header .left {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

html header .left .year-select {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

html header .left input[type="submit"] {
	background: none;
	color: #00d5ff;
	border: 1px solid #00d5ff;
	border-radius: 0.5rem;
	padding: 0.25rem;
	margin: 0 0.25rem;
	cursor: pointer;
}

html header .left input[type="submit"]:hover,
html header .left header .left input[type="submit"].selected {
	background: #00d5ff;
	color: white;
}

html header div.right-mobile {
	display: none;
}

html header div.right-mobile nav {
	background: rgba(0, 0, 0, 0.7);
}

html header div.right-mobile nav a:hover {
	background: white;
}

html header a {
	text-decoration: none;
}

html header h1 {
	padding-left: 1rem;
	color: #00d5ff;
}

nav {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

nav a {
	padding: 1rem 2rem;
	border-left: 1px solid white;
	border-right: 1px solid white;
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #00d5ff;
	text-decoration: underline;
}

div#ghost-header {
	height: 3rem;
}

section {
	width: 25rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2rem;
	border: 0.25rem solid white;
	margin: 1rem auto;
	h2 {
		font-size: 3rem;
		margin-bottom: 2rem;
		cursor: pointer;
	}
}
span.flex-input {
	display: inline-flex;
	flex-flow: column nowrap;
	label {
		font-size: 0.75rem;
	}
	input,
	select {
		font-size: 1rem;
		height: 1.25rem;
		width: 10rem;
	}
}

@media only screen and (max-width: 1280px) {
	html header div.right {
		display: none;
	}
	html header div.right-mobile {
		display: block;
	}
	html header div.right-mobile img {
		height: 3rem;
		width: auto;
	}
	html header div.right-mobile nav {
		display: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}
}
/*# sourceMappingURL=main-new.css.map */
